.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}